/* Font family styles */
.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* Shared styles */
.alignment {
  max-width: 1280px;
  margin: 0 auto;
}
.btn-primary-bg {
  background-color: rgba(0, 106, 80, 1);
}

.card-icon-styles {
  width: 64px;
  height: 64px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}
.card-description {
  font-size: 16px;
  font-weight: 600;
}

/* Header styles */
#header .banner-section {
  padding: 80px 0;
}
/* Navbar Styles */
.nav-section {
  height: 100px;
  margin-bottom: 20px;
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: bold;
}
nav a {
  color: rgba(0, 106, 80, 1);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  padding: 15px 30px;
  /* Anchor tag er moddhe height with diye button banano jayna */
  /* height: 50px;
  width: 110px; */
}

/* Banner styles  */
.banner-section {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  /* gap: 24px; */
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.banner-contents {
  margin-left: 70px;
}
.banner-image {
  margin-right: -10px;
  max-width: 48%;
}

.banner-sub-title {
  font-size: 24px;
  font-weight: medium;
  color: rgba(14, 14, 14, 0.5);
}
.banner-description {
  font-size: 56px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  margin-top: -20px;
}
.banner-contents .banner-button {
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  padding: 17px 34px;
  border-radius: 8px;
  border: 0;
}

/* Pillars section styles */

.pillar {
  width: 300px;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
.pillar-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.section-title {
  font-size: 40px;
  font-weight: bold;
  line-height: auto;
  margin-top: 80px;
}

/* Vision's section styles */
.vision-cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.visions {
  max-width: 1280px;
  margin: 0 auto;
}
.section-description {
  margin-bottom: 24px;
}
.vision-card-1,
.vision-card-2,
.vision-card-3 {
  width: 410px;
  margin-bottom: 32px;
  padding: 12px 32px;
  border-radius: 16px;
}

.vision-card {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}
.card-title {
  margin-bottom: 24px;
}
.card-description {
  margin-bottom: 32px;
}
.vision-card-button-1 {
  background-color: rgba(84, 144, 245, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
  border: 0;
}
.vision-card-button-2 {
  background-color: rgba(9, 161, 92, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
  border: 0;
}
.vision-card-button-3 {
  background-color: rgba(255, 194, 57, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
  border: 0;
}
.vision-card-1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision-card-2 {
  background-color: rgba(198, 228, 214, 1);
}
.vision-card-3 {
  background-color: rgba(247, 235, 207, 1);
}
.Muhammad_Yunus_section {
  padding: 48px 24px;
}
.Muhammad_Yunus_section h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin-top: -3px;
}

.Muhammad_Yunus_section small {
  font-size: 16px;
  font-weight: regular;
  color: rgba(14, 14, 14, 0.6);
  margin-top: -23px;
  display: block;
}
